<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="./font/favicon.ico">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <h1>welcome to node!</h1>
    <hgroup>
        <h1>welcome to node!</h1>
        <h1>组合标题元素</h1>
    </hgroup>
    <nav>
        <a href="#">NBA</a>
        <a href="#">Dota</a>
        <a href="#">LOL</a>
        <a href="#">Javascript</a>
        <a href="#">Node</a>
        <a href="#">Angular</a>
        <a href="#">React</a>
        <a href="./login" class="left">login in</a>
        <a href="" class="left">register</a>
    </nav>
<meter value="3" min="0" max="10">3/10</meter><br>
    <footer>
        personal
    </footer>
</body>

</html>
