<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="./font/favicon.ico">
</head>

<body>
    <h1>welcome from node!</h1>
    <nav>
        <a href="#">NBA</a>
        <a href="#">Dota</a>
        <a href="#">LOL</a>
        <a href="#">Javascript</a>
        <a href="./login">login in</a>
    </nav>
</body>

</html>
